
<mat-toolbar class="p-0" id="toolbar">

  <section id="menu" class="row center-md w-100">
    <div class="col-md-6">
      <ul class="menu">
        <li>
          <button mat-button class="font-bold f-red-wine">Empresa</button>
        </li>
        <li>
          <button mat-button class="font-bold f-red-wine">Servicios</button>
        </li>
        <li>
          <button mat-button class="font-bold f-red-wine">Portafolio</button>
        </li>
        <li>
          <button mat-button class="font-bold f-red-wine">Productos</button>
        </li>
        <li>
          <button mat-button class="font-bold f-white">Contacto</button>
        </li>
      </ul>
    </div>
  </section>
</mat-toolbar>
