
<mat-toolbar class="p-0" id="toolbar">

  <section id="menu" class="row center-md w-100">
    <div class="col-md-6">
      <ul class="menu">
        <li routerLink="/" routerLinkActive="active">
          <button mat-button class="font-regular text-uppercase f-red-wine letter-menu">Home</button>
        </li>
        <li routerLink="/company" routerLinkActive="active">
          <button mat-button class="font-regular text-uppercase f-red-wine letter-menu">Empresa</button>
        </li>
        <li routerLink="/services" routerLinkActive="active">
          <button mat-button class="font-regular text-uppercase f-red-wine letter-menu">Servicios</button>
        </li>
        <li routerLink="/services" routerLinkActive="active">
          <button mat-button class="font-regular text-uppercase f-red-wine letter-menu">Portafolio</button>
        </li>
        <li routerLink="/products" routerLinkActive="active">
          <button mat-button class="font-regular text-uppercase f-red-wine letter-menu">Productos</button>
        </li>
        <li routerLink="/contact" routerLinkActive="active">
          <button mat-button class="font-regular text-uppercase f-red-wine letter-menu">Contacto</button>
        </li>
      </ul>
    </div>
  </section>
</mat-toolbar>
