<section id="our-projects" class="p-5 mt-lg-5">
  <section class="container-md-fluid">
    <h1 class="f-white title-bold text-center mt-0">NUESTROS CLIENTES</h1>
    <div class="row center-lg">
      <div class="col-md-3 col-sm-6 text-center">
        <div class="w-100 text-center">
          <img src="../../../../../assets/images/BASEID.png">
        </div>
        <!--<p class="f-white mt-0">
          Una CRM con chat bot para adquisición de clientes para diferentes inmobiliarias que hacen de BaseID.
        </p>
        <small class="text-center f-white mt-3">Tecnología usadas</small>-->
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div class="w-100 text-center">
          <img src="../../../../../assets/images/NEXTLINE.png">
        </div>
        <!--<p class="f-white mt-0">
          Se desarrollo un ERP con integración a los equipos de
          redes juntamente con una aplicación movíl para los clientes y para el personal técnico.
        </p>
        <small class="text-center f-white mt-3">Tecnología usadas</small>-->
      </div>
      <div class="col-md-3 col-sm-6 text-center">
        <div class="w-100 text-center">
          <img src="../../../../../assets/images/COVEN.png">
        </div>
        <!--<p class="f-white mt-0">
          Aplicación movíl y backoffice para el monitorear los mercados nacioanles e internacionales
        </p>
        <small class="text-center f-white mt-3">Tecnología usadas</small>-->
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="w-100 text-center">
          <img src="../../../../../assets/images/ONIX.png">
        </div>
        <!--<p class="f-white mt-0">
          Proyecto blockchain; desarrollo del centro de ventas y página web para la criptomoneda onix
        </p>
        <small class="text-center f-white mt-3">Tecnología usadas</small>-->
      </div>
    </div>
  </section>
</section>
<br>
<section class="container-md-fluid mt-5 position-relative">
  <div class="row center-xs">

    <div class="col-md-5 col-xs-4">
      <img src="../../../../../assets/images/partner.png" style="max-width: 100%">
    </div>
    <div class="col-md-7 col-xs-12">
      <h1 class="title-bold text-center mt-0 text-uppercase">
        Vamos juntos hacer crecer tu negocio.
      </h1>
      <p class="text-justify">
        Marketing, estrategias comerciales, diseño, y desarrollos de tecnológicos garantizan que tus metas serán
        alcanzadas. Todos nuestros especialistas estan a disposición para llevar tu empresa a siguiente nivel.
      </p>
      <div class="row center-lg">
        <div class="col-md-4">
          <ul>
            <li class="item-list text-left">App (iOS, Android)</li>
            <li class="text-left">Panel Administravos</li>
            <li class="text-left">ERP</li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul>
            <li class="item-list text-left">Juegos</li>
            <li class="text-left">Criptomoneda y blockchain</li>
            <li class="text-left">Tiendas en Linea</li>
          </ul>
        </div>
      </div>

      <div class="row center-lg mt-5">
        <div class="col-md-3 text-center">
          <img src="../../../../../assets/images/MARKETING.png" class="w-50">
          <p class="font-light">Marketing</p>
        </div>
        <div class="col-md-3 text-center">
          <img src="../../../../../assets/images/DISENO.png" class="w-50">
          <p class="font-light">Diseño</p>
        </div>
        <div class="col-md-3 text-center">
          <img src="../../../../../assets/images/AUDIOVISUALES.png" class="w-50">
          <p class="font-light">Audiovisuales</p>
        </div>
        <div class="col-md-3 text-center">
          <img src="../../../../../assets/images/DESARROLLO.png" class="w-50">
          <p class="font-light">Desarrollo App</p>
        </div>
      </div>

    </div>
  </div>
</section>

<h3 class="text-center f-red-wine bg-cinza p-3">
  Vamos a conversar <a target="_blank"
                         href="https://api.whatsapp.com/send?phone=123456&text=Esto%20es%20una%20prueba.">Aquí</a>
</h3>

