#our-projects {
  background: url("../../../../../assets/images/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

a {
  text-decoration: none;
  color: #731a1d !important;
}
