<section class="container-md-fluid pt-5 mb-5">
  <div class="row start-md">
    <div class="col-md-4 mt-lg-5">
      <img src="../../../../../assets/images/logo-es.png" style="max-width: 100%">
      <h1 class="title-light cor-title mb-0 mt-4">Tenemos Todo lo</h1>
      <h1 class="title-bold f-red-wine mt-0">QUE NECESITAS</h1>
      <p class="text-justify">
        JaspeSoft es una empresario visionaria con un enfoque tecnológico integral. Cuenta con equipo altamente
        calificado para dar a tú idea de negocio el toque tecnológia que necesita para impulsar tu empresa.
      </p>
    </div>
    <img src="../../../../../assets/images/03-3.png" width="650px" height="480px"
         class="position-absolute d-sm-none" style=" top:120px; right: 20px; z-index: 1;">
  </div>

</section>
<br>
<section class="container-md-fluid mt-lg-5">
  <h1 class="text-center title-bold mb-0">DESARROLLAMOS TUS IDEAS</h1>
  <h1 class="text-center title-bold mt-0 mb-0">EN TODAS SUS FASES</h1>
  <p class="text-center">Vamos a llevar tú idea de negocios del papel a un producto digital.</p>
  <div class="row mt-5">
    <div class="col-sm-12 col-md-4">
      <h3 class="title">Operación y Mantenimiento</h3>
      <p class="text-justify">
        Aun no termmina. Lueg del despliegue monitoramos constamente el funcionamiento de tu producto para realizar
        las corrección necesarias.
      </p>
      <br>
      <h3 class="title">Despliegue</h3>
      <p class="text-justify">
        El gran día de poner a disposición del mercado tu producto.
      </p>
      <br>
      <h3 class="title">Testing</h3>
      <p class="text-justify">
        Verificamos que cada componente, cada funcionalidad de tu producto este en perfecto funcionamiento.
      </p>
    </div>
    <div class="col-sm-12 col-md-4 text-center">
      <img src="../../../../../assets/images/ciclo.png">
    </div>
    <div class="col-sm-12 col-md-4">
      <h3 class="title">Planificación y Requerimientos</h3>
      <p class="text-justify">
        Analisamos hasta comprender la necesidad de tu negocio para asegurar definir la estrategia y
        solución correcta.
      </p>
      <br>
      <h3 class="title">Diseño y prototipo</h3>
      <p class="text-justify">
        Vamos a diseñar cada interfaz gráfica y creamos un prototipo de tu producto con la finalizadad que experimentes
        la usabilidad de tu app o página web.
      </p>
      <br>
      <h3 class="title">Desarrollo</h3>
      <p class="text-justify">
        Es hora de codificar. Vamos a materializar tu producto haciendo uso de la mejor tecnología del mercado.
      </p>
    </div>
  </div>
</section>
