<section class="container-md-fluid">
  <div class="row start-md">
    <div class="col-md-4 mt-lg-5">
      <img src="../../../../../assets/images/logo-es.png" style="max-width: 100%">
      <h1 class="title-light cor-title mb-0 mt-2">Tenemos Todo lo</h1>
      <h1 class="title-bold f-red-wine mt-0">QUE NECESITAS</h1>
      <p>
        JaspeSoft es una empresario visionaria con un enfoque tecnológico integral. Cuenta con equipo altamente
        calificado para dar a tú idea de negocio el toque tecnológia que necesita para impulsar tu empresa.
      </p>
    </div>
    <img _ngcontent-rqm-c117="" src="../../../../../assets/images/Slider2.png" width="750px" class="position-absolute d-sm-none" style=" top:0; right: 0; z-index: 1;">
  </div>

</section>
