
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$site-jaspe-primary: mat-palette($mat-indigo);
$site-jaspe-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$site-jaspe-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$site-jaspe-theme: mat-light-theme((
  color: (
    primary: $site-jaspe-primary,
    accent: $site-jaspe-accent,
    warn: $site-jaspe-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($site-jaspe-theme);

/* You can add global styles to this file, and also import other style files */

@import "assets/css/display.css";
@import "assets/css/flexboxgrid.css";
@import "assets/css/style_text.css";

html, body { height: 100%; }
body { margin: 0; font-family: "Light"  !important;  font-size: 12pt; color: #505050}

.cor-title {
  color: #505050 !important;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.4rem;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed !important;
}

.position-relative {
  position: relative !important;
}

.header {
  z-index: 999;

}

.title {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}
.title:before {
  content: '';
  position: absolute;
  bottom: -8px;
  width: 30px;
  border: 3px solid #731a1d;
}
